body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.nav__bar {
  background: #64b5f6;
  color: white;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*margin: 0 2rem 0 2rem;*/
}

.auth__name {
  text-align: left;
  margin-left: 2rem;
}

.links {
  margin-right: 3rem;

  text-decoration: none;
  color: white;
  /*float: right;*/
  align-items: center;


}

.nav-right {
  text-align: right;
}

.container {
  /*grow up to 65rem*/
  max-width: 70rem;
  /*center if there is width left*/
  /*margin: auto;*/
  margin: 0 4rem  0  8rem;
  display: flex;
  position: relative;
}

.card {
  width: calc(100% / 2 - 2rem - 2rem);
  box-shadow: .2rem .2rem .4rem;
  float: left;
  position: relative;
  margin: 2rem;
}

.post__title {
  margin: 0;
  text-align: center;
}

.post {
  padding: 1rem;
}

.description {
  padding: 2rem;
  position: relative;
  background: #ffd740;
}

.img {
  position: absolute;;
  transform: translate(-50%, -50%);
  max-width: 4rem;
  border-radius: 50%;
  top: 50%;
  left: 0;
}


.week {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.5rem;
  margin: 0;
  background: #64b5f6;
  color: white;
  transform: translate(-50%, -50%);
}
