body {
  margin: 0;
}

*  {
  box-sizing: border-box;
}


.nav__bar  {
  background: #64b5f6;
  color: white;


}

.auth__name  {
  text-align: left;

  display: block;
}


.links  {
    text-align: right;
    text-decoration: none;
    color: white;
    display: block;
}

.nav-right  {
  text-align: right;
}

.container {
  /*grow up to 65rem*/
  max-width: 65rem;
  /*center if there is width left*/
  margin: 0 auto;

}

.post__title {
  text-align: center;
  background: #ffd740;
}
.post  {
  float: left;
  text-align: center;
  margin: 1rem;

}

img {
  max-width: 100%;
  border-radius: 50%;
}

.week  {
  background: #64b5f6;
  color: white;
  text-align: center;
}
